.cssload-wraper{
	width:0px;
	display:block;
	margin: 50px auto;
}
	
.cssload-dots {
	font-family: sans-serif;
	font-weight: 100;
}

.cssload-dots:not(:required) {
	overflow: hidden;
	position: relative;
	text-indent: -12499px;
	display: inline-block;
	width: 9px;
	height: 9px;
	background: transparent;
	border-radius: 100%;
	box-shadow: #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
		-o-box-shadow: #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
		-ms-box-shadow: #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
		-webkit-box-shadow: #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
		-moz-box-shadow: #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	animation: cssload-dots 5.75s infinite ease-in-out;
		-o-animation: cssload-dots 5.75s infinite ease-in-out;
		-ms-animation: cssload-dots 5.75s infinite ease-in-out;
		-webkit-animation: cssload-dots 5.75s infinite ease-in-out;
		-moz-animation: cssload-dots 5.75s infinite ease-in-out;
	transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
}



@keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px 18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px -18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}
}

@-o-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px 18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px -18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}
}

@-ms-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px 18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px -18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}
}

@-webkit-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px 18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px -18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}
}

@-moz-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px 18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b -18px 18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b -18px -18px 0 9px, #e54d40 -18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #964691 18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px -18px 0 9px, #58a7dd 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #964691 18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #964691 -18px 18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #964691 -18px -18px 0 9px, #eff02b 18px -18px 0 9px, #e54d40 18px 18px 0 9px, #58a7dd -18px 18px 0 9px;
	}
}