<nav class="navbar navbar-default navbar-fixed-top">        
    <div class="container fondo_top">
        <div id="do-drag" style="height: 50px;">
            <div id="btn_menu" onClick="abrir_menu()" class="sb-toggle-left top_btn_menu"><em class="fa fa-bars"></em></div>
            <div id="top_titulo"><span id="cabecera_titulo">Recorridos</span></div>
            <div id="botonera_top"><i class="fa fa-refresh"></i></div>
        </div>	
        <div id="divInfoEntidad" style="display:none; width:100%; border-top: solid 2px #e5e5e5;">
            <div id="swipe_zona_marker;" style="border-bottom: solid 2px #e5e5e5;">
                <div class="row" style="padding: 10px;">
                    <div class="col-xs-4" style="text-align: center;">
                        <a id="infoEntidadImgA" href="#"><img id="infoEntidadImg" src="#" style="height: 80px;border-radius: 10px;" /></a>
                    </div>
                    <div class="col-xs-8"> 
                        <i id="marker_cruz" class="fa fa-times" style="font-size: 16px; float: right; margin-right: 0px; margin-top: 0px;"></i>
                        <h5 style="margin-top: 0px; font-weight: bold;" id="infoEntidadTitulo"></h5>
                        <span id="infoEntidadCopete"></span>
                    </div>
                </div>
            </div>
            <div id="div_toggle_detalle" style="width:100%; text-align: center;">
                <i id="marker_flecha" class="fa fa-caret-down" style="padding: 8px; font-size: 16px;"></i>
            </div>
        </div>        
    </div>         
</nav>
