<div class="subtop_contenido">
	Guías
</div>
<div class='col-xs-12'>
	<p class="color_letra_gris_claro" style="text-align: justify; font-size: 15px; margin: 15px;">Seleccione un recorrido y disfute de una experiencia interactiva en la ciudad de Rafaela.</p>
</div>   
<div id="layers_listado">
</div>
<script>
	iniciar_layers();
	var layers = [];
	var layer_id = 0;
	var i = 0;
	
	function iniciar_layers(){
		window.resolveLocalFileSystemURL(urlSd + recorrido_parametros.nombre_json, function(){lc_get_layers( window.localStorage.getItem("group_activo_id"),cargar_layers);}, function(){cambiar_contenido("views/sincronizacion.html", "Sincronización", true, true, false, recorrido_parametros.color_cabecera_fondo, recorrido_parametros.color_cabecera_borde);}); 
	}
	
	function cargar_layers(tx, rs){
		var len = rs.rows.length;
		var contenido_list = "";																
		for (var i=0; i<len; i++){			
			contenido_list += "<div class='col-xs-12 row' style='padding: 0px;'>";
			contenido_list += "<div class='col-xs-3' onClick='cargar_entidades("+rs.rows.item(i).id+")'>";
			contenido_list += "<img  style='width: 50%; height: 50%' class='layer_icono' src='"+urlSd+rs.rows.item(i).id+"/icono_mapa.png' />";
			contenido_list += "</div>";
			contenido_list += "<div class='col-xs-9' onClick='cargar_entidades("+rs.rows.item(i).id+")' style='padding: 0px;'>";
			contenido_list += "<div class='layer borde_bottom_gris color_letra_gris_claro'>";
			contenido_list += "<span class='layer_titulo'>"+rs.rows.item(i).titulo+"</span><br>";
			contenido_list += "<span class='layer_subtitulo color_letra_gris_claro'>"+rs.rows.item(i).descripcion+"</span></div>";			
			contenido_list += "</div>";								
			contenido_list += "<div id='layer_puntos_"+rs.rows.item(i).id+"' style='display:none;'></div>";
			contenido_list += "</div>";		
			$("#layers_listado").html(contenido_list);							
		}		
		/*$.getJSON(urlSd + jsonRecorridos, function( data ) {			
			var contenido_list = "";
			$.each( data, function( key, item ) {
				recorridos[i] = item.id;
				//console.log("recorrido: "+item.id);
				i++;
				contenido_list += "<div class='col-xs-12 row' style='padding: 0px;'>";
				contenido_list += "<div class='col-xs-3' onClick='cargar_puntos("+item.id+")'>";
				contenido_list += "<img  style='width: 50%; height: 50%' class='recorrido_icono' src='"+urlSd+item.id+"/"+item.icono+"' />";
				contenido_list += "</div>";
				contenido_list += "<div class='col-xs-9' onClick='cargar_puntos("+item.id+")' style='padding: 0px;'>";
				contenido_list += "<div class='recorrido borde_bottom_gris color_letra_gris_claro'>";
				contenido_list += "<span class='recorrido_titulo'>"+item.titulo+"</span><br>";
				contenido_list += "<span class='recorrido_subtitulo color_letra_gris_claro'>Lugares de Interes</span></div>";
	            contenido_list += "</div>";								
				contenido_list += "<div id='recorrido_puntos_"+item.id+"' style='display:none;'></div>";
                contenido_list += "</div>";								
			});			
			$("#recorridos_listado").html(contenido_list);										
		});	*/		
	}
	
	function cargar_info_entidades(tx, rs){
		var len = rs.rows.length;
		var ban_primero = true;
		var sub_contenido_list = "";																
		for (var i=0; i<len; i++){
			var nombre = rs.rows.item(i).nombre;
			sub_contenido_list += "<div class='col-xs-3' style='padding: 0px;'></div>";
			sub_contenido_list += "<div class='col-xs-9 borde_bottom_gris' style='padding: 0px;'>";
			sub_contenido_list += "<table style='width: 100%; margin: 10px 0px;' onClick='ir_a_entidad("+layer_id+","+rs.rows.item(i).id+","+window.localStorage.getItem("group_activo_id")+")'>";
			sub_contenido_list += "<tr>";
			sub_contenido_list += "<td style='width:80%;'>";
			sub_contenido_list += "<span class='layer_titulo'>"+rs.rows.item(i).nombre+"</span><br>";
			if(window.localStorage.getItem("group_activo_id") == recorrido_parametros.grouplayer_id){
				sub_contenido_list += "<span class='layer_subtitulo color_letra_gris_claro'>"+rs.rows.item(i).subtitulo+"</span></div>";
			}else if(window.localStorage.getItem("group_activo_id") == pois_parametros.grouplayer_id){
				sub_contenido_list += "<span class='layer_subtitulo color_letra_gris_claro'><b>Dirección: </b>"+rs.rows.item(i).calle+" "+rs.rows.item(i).altura+"</span></div>";
				sub_contenido_list += "<br><span class='layer_subtitulo color_letra_gris_claro'><b>Telefono:  </b>"+rs.rows.item(i).telefono+"</span></div>";
			}
			sub_contenido_list += "</td>";
			sub_contenido_list += "<td rowspan='2' style='vertical-align: middle;'>";
			sub_contenido_list += "<img onClick='ir_a_entidad("+layer_id+","+rs.rows.item(i).id+","+window.localStorage.getItem("group_activo_id")+")' style='height: 50px;' src='img/flecha_derecha.png' />";
			sub_contenido_list += "</td></tr></table>";
			sub_contenido_list += "</div>";				
		}
		$("#layer_puntos_"+layer_id).html(sub_contenido_list);	
		toogle_div("layer_puntos_"+layer_id);
	}
	
	function cargar_entidades(pLayer_id){
		layer_id = pLayer_id;
		pc_get_puntos(layer_id, window.localStorage.getItem("group_activo_id"), cargar_info_entidades);
		/*$.getJSON(urlSd + recorrido_id +"/"+"puntos.json", function( subdata ) {								
			var sub_contenido_list = "";																
			$.each( subdata, function( subkey, subitem ) { 
				if(subkey == "features"){
					$.each( subitem, function( subkey, subsubitem ) { 
						sub_contenido_list += "<div class='col-xs-3' style='padding: 0px;'></div>";
						sub_contenido_list += "<div class='col-xs-9 borde_bottom_gris' style='padding: 0px;'>";
						sub_contenido_list += "<table style='width: 100%; margin: 10px 0px;' onClick='ir_a_punto("+recorrido_id+","+subsubitem.properties.id+","+recorrido_parametros.grouplayer_id+")'>";
						sub_contenido_list += "<tr>";
						sub_contenido_list += "<td style='width:80%;'>";
						sub_contenido_list += "<span class='recorrido_titulo'>"+subsubitem.properties.titulo+"</span><br>";
						sub_contenido_list += "<span class='recorrido_subtitulo color_letra_gris_claro'>Lugares de Interes</span></div>";
						sub_contenido_list += "</td>";
						sub_contenido_list += "<td rowspan='2' style='vertical-align: middle;'>";
						sub_contenido_list += "<img style='height: 50px;' src='img/flecha_derecha.png' />";
						sub_contenido_list += "</td></tr></table>";
						sub_contenido_list += "</div>";	
					});		
				}
				//console.log(recorrido_id+" - "+subitem.titulo);
			});
			$("#recorrido_puntos_"+recorrido_id).html(sub_contenido_list);	
			toogle_div("recorrido_puntos_"+recorrido_id);
		});*/						
	}	
	

</script>
