<div class="snap-drawers">
     <div class="snap-drawer snap-drawer-left">  
        <img src="img/top_muni.png" class="img-responsive" />  
        <a href="javascript:cambiar_contenido('views/recorridos.html', 'Recorridos', true, true); abrir_menu();">
            <div class="col-xs-12 menu_item">
               <img src="img/iconos/recorridos.png" /><div class="menu_accion">Recorridos</div>
            </div>
        </a>	
        <a href="javascript:leer_qr(); abrir_menu();">
            <div class="col-xs-12 menu_item">
               <img src="img/iconos/qr.png" /><div class="menu_accion">Lector QR</div>
            </div>
        </a>  
        <a href="javascript:leer_qr(); abrir_menu();">
            <div class="col-xs-12 menu_item">
               <img src="img/iconos/pois.png" /><div class="menu_accion">Puntos de interés</div>
            </div>
        </a> 
        <a href="javascript:leer_qr(); abrir_menu();">
            <div class="col-xs-12 menu_item">
               <img src="img/iconos/agenda.png" /><div class="menu_accion">Agenda</div>
            </div>
        </a>                        		
        <a href="javascript:leer_qr(); abrir_menu();">
            <div class="col-xs-12 menu_item">
               <img src="img/iconos/configuracion.png" /><div class="menu_accion">Configuración</div>
            </div>
        </a>  
        <a href="javascript:leer_qr(); abrir_menu();">
            <div class="col-xs-12 menu_item">
               <img src="img/iconos/ayuda.png" /><div class="menu_accion">Modo de uso</div>
            </div>
        </a> 
        <a href="javascript:leer_qr(); abrir_menu();">
            <div class="col-xs-12 menu_item">
               <img src="img/iconos/info.png" /><div class="menu_accion">Sobre la aplicación</div>
            </div>
        </a>                 			
    </div> 
</div>  
<script>
	var snapper = new Snap({
		element: document.getElementById('contenido_general'),
		dragger: null,
		touchToDrag: false,
		transitionSpeed: 0.00001,
		disable: 'right'
	});				
	
	function abrir_menu(){
		 if( snapper.state().state=="left" ){
				snapper.close();
		} else {
			snapper.open('left');
		} 
	}
	
	function leer_qr(){
		var splashLoading = document.getElementById('splashLoading');
		splashLoading.style.display = 'block';		
		cordova.plugins.barcodeScanner.scan(
		  function (result) {
			  alert("We got a barcode\n" +
					"Result: " + result.text + "\n" +
					"Format: " + result.format + "\n" +
					"Cancelled: " + result.cancelled);
			  splashLoading.style.display = 'none';
		  }, 
		  function (error) {
			  alert("Scanning failed: " + error);
			  splashLoading.style.display = 'none';
		  }
	   );
	}
</script>

