<div id="barra_completa_sonido" style="bottom: 80px;width: 100%;position: fixed;height: 5px;background-color: #C9D5D7;">
    <div id="reproduccion_barra">
    </div>
</div>			
<div class="reproductor_audio">
    <i class="fa fa-headphones auriculares"></i>
    <i class="fa fa-step-backward botones_reproduccion"></i>
    <a id="repro_pause" href="javascript:pauseAudio();" style="display:none;"><i class="fa fa-pause botones_reproduccion"></i></a>
    <a id="repro_play" href="javascript:playAudio();"><i class="fa fa-play botones_reproduccion"></i></a>
    <i class="fa fa-step-forward botones_reproduccion"></i>
    <a href="javascript:stopAudio();"><i class="fa fa-stop botones_reproduccion"></i></a>	
</div>
                 		 
<script>
	var audio_src = "file:///android_asset/www/madre.mp3";			
</script>

