<html>
    <div>
        <div class="borde_top">
            <!-- top superior -->
        </div>
        <img src="img/top_muni.png" class="img-responsive" />
        <div class="col-md-12" style="margin: 10px; margin-top: 35px;">
            <h3 class="color_letra_celeste"><b>Hola!</b></h3>
            <p class="color_letra_gris_claro" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis lacinia massa id lorem lobortis posue Lorem ipsum dolor sit 
            amet, consectetur adipiscing elit.</p>
            <div class="color_letra_gris_claro" style="margin-top: 30px;"> 
                <div style="float:left; margin-top: 5px;">
                    <b>No volver a mostrar este mensaje</b>
                </div>
                <div class="switch" style="float:left; margin: 0px 13px;">
                    <input id="cmn-toggle-1" onClick="no_volver_a_mostrar()" class="cmn-toggle cmn-toggle-round" type="checkbox">
                    <label for="cmn-toggle-1"></label>
                </div>           
			</div>
        </div>
        <div  class="col-md-12" style="float:right; margin-top: 15px; margin-bottom: 60px; margin-right: 5px;">
           <button type="button" class="btn btn-primary btn_celeste" onclick="avanza()" 
                    style="border-radius: 40px; height: 40px; width: 40px; margin-left: 15px;">
                <span class="fa fa-chevron-right" style="padding-left: 2px;padding-top: 4px;"></span>
            </button>
        </div>                
    </div> 
    <script>
		var no_mostrar_mas = false;
		function avanza(){
			window.localStorage.setItem("saltear_saludo", no_mostrar_mas);
			window.localStorage.setItem("group_activo_id", recorrido_parametros.grouplayer_id);
			cambiar_contenido('views/layers.html', 'Recorridos', true, true, true, recorrido_parametros.color_cabecera_fondo, recorrido_parametros.color_cabecera_borde); 
		}
		
		function no_volver_a_mostrar(){
			if(no_mostrar_mas){
				no_mostrar_mas = false;
			}else{
				no_mostrar_mas = true;
			}
		}
	</script>
</html>
