<div id="sincronizacion_configuracion">
    <!--<img src="img/top_muni_mini.png" class="img-responsive" />-->
    <div class="col-md-12" style="margin: 10px; margin-top: 65px;">
        <div class="col-md-12">
            <h4 class="color_letra_celeste"><b>Hay nueva infomación para descargarte!</b></h4>
            <p class="color_letra_gris_claro" style="text-align: justify; font-size: 14px; margin-bottom: 20px;">Seleccione que desea tener en su celular:</p>
        </div>
        <div class="col-md-12 sincronizacion_opciones">
            <div class="color_letra_gris_claro sincronizacion_opcion"><i class="fa fa-align-left"></i>Textos</div>
            <div class="switch" style="float:right;">
                <input id="cmn-toggle-1" onClick="descargar_textos()" class="cmn-toggle cmn-toggle-round" type="checkbox" checked>
                <label for="cmn-toggle"></label>
            </div> 
        </div>
        <div class="col-md-12 sincronizacion_opciones">
            <div class="color_letra_gris_claro sincronizacion_opcion"><i class="fa fa-volume-up"></i>Audios</div>
            <div class="switch" style="float:right;">
                <input id="cmn-toggle-2" onClick="descargar_audios()" class="cmn-toggle cmn-toggle-round" type="checkbox">
                <label for="cmn-toggle-2"></label>
            </div> 
        </div>
        <div class="col-md-12 sincronizacion_opciones">
            <div class="color_letra_gris_claro sincronizacion_opcion"><i class="fa fa-picture-o"></i>Imagenes</div>
            <div class="switch" style="float:right;">
                <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round" type="checkbox" onClick="descargar_imagenes()">
                <label for="cmn-toggle-3"></label>
            </div> 
        </div>
        <div class="col-md-12 sincronizacion_opciones">
            <div class="color_letra_gris_claro sincronizacion_opcion"><i class="fa fa-video-camera"></i>Videos</div>
            <div class="switch" style="float:right;">
                <input id="cmn-toggle-4" onClick="descargar_videos()" class="cmn-toggle cmn-toggle-round" type="checkbox">
                <label for="cmn-toggle-4"></label>
            </div> 
        </div>
        <div class="col-md-12">
            <button onClick="sincronizar()" type="button" class="btn btn-primary" style="background-color:#62A241; border-color:#62A241; margin: auto; border-radius: 60px; width: 100%; margin-top: 15px;">Sincronizar</button>
        </div>
     </div>
</div>
<div id="sincronizacion_descargando" style="display:none; margin-top: 45px">
    <div class="col-md-12" style="text-align:center;">
        <h4 class="color_letra_celeste"><b>Descargando contenido!</b></h4>
        <p class="color_letra_gris_claro" style="font-size: 14px; margin-bottom: 20px;">Por favor espere un momento...</p>
    </div>    
    <div class="cssload-wraper">
        <div class="cssload-dots"></div>
    </div>
    <div class="col-md-12" style="text-align:center;">
        <p id="estado_descarga" class="color_letra_gris_claro"></p>
        <div id="descargando_barra"><span id="descargando_barra_poc"></span></div>
    </div> 
</div>


<script>	
	$( document ).ready( function() { 
		//desactivar_loading();
		var permitir_descargar_audios = false;
		var permitir_descargar_imagenes = false;
		var permitir_descargar_videos = false;	

		/* Seteo para que cuando termine de sincronizar vaya a recorridos */
		window.localStorage.setItem("ultima_web", "views/recorridos.html");
		window.localStorage.setItem("ultima_web_menu", true);
		window.localStorage.setItem("ultima_web_pie", true);
		window.localStorage.setItem("ultima_web_cabecera", "Recorridos");			
	});
		
	function sincronizar(){		
		$("#sincronizacion_configuracion").hide();
		$("#sincronizacion_descargando").show();
		pc_crear_tabla();	
		mc_crear_tabla();
		lc_crear_tabla();
		//ac_crear_tabla();
		$("#estado_descarga").html("Descargando recorridos...");
		
		/* Descargamos los recorridos y lo guardamos en la sd */
		var fileTransfer = new FileTransfer();	
		var grouplayer_encriptado = encrypt(String(recorridos_grouplayer_id), String(clave_encriptacion));		
		fileTransfer.download(urlHost+urlGetGroupLayer+grouplayer_encriptado, urlSd + jsonRecorridos, 
		function(entry) {		
			$("#estado_descarga").html("Descargando punto...");
			descargar_puntos(urlSd + jsonRecorridos, descargar_agenda, recorridos_grouplayer_id);
		}, 
		function(err) {
			console.log("Error");
			$("#estado_descarga").html("Error en descarga...");
		});		
		
		//iniciarApp();
	}
	
	var list_descargas = [[]];
	var cantidad_descargas = 0;
	var iterador = 0;
		list_descargas[iterador] = [];
	
	function descargar_puntos(urlJson, proximoMetodo, grouplayer_id){
		var recorrido_id = "";	
		console.log("cantidad list_descargas: "+urlJson);
		$.getJSON(urlJson, function( data ) {	
			if (data.length) {		
				$.each( data, function( key, item ) {
					var registro_layer = [];
					recorrido_id = item.id;  								
					registro_layer['layer_id'] = item.id;
					registro_layer['grouplayer_id'] = grouplayer_id;
					registro_layer['nombre'] = item.nombre;					
					registro_layer['icono'] = item.icono;
					registro_layer['descripcion'] = item.descripcion;
					registro_layer['titulo'] = item.titulo;
					registro_layer['color'] = item.color;
					registro_layer['iconodos'] = item.iconodos;
					registro_layer['iconomapa'] = item.iconomapa;
					registro_layer['orden'] = item.orden;																																			
					lc_add_layer(registro_layer);
					
					//console.log("cantidad list_descargas: "+item.titulo);
					var urlDestino = urlSd+ recorrido_id +"/"+"puntos.json";
					recorrido_id_encriptado = encrypt(String(recorrido_id), String(clave_encriptacion));
					list_descargas[iterador][0] = urlHost+urlGetLayer+recorrido_id_encriptado;
					list_descargas[iterador][1] = urlDestino;
					list_descargas[iterador][2] = "puntos de "+item.titulo;
					list_descargas[iterador][3] = true;	// buscar multimedia?
					list_descargas[iterador][4] = true;	// es un punto?
					list_descargas[iterador][5] = recorrido_id;
					list_descargas[iterador][6] = grouplayer_id;					
					
					++iterador;				
					list_descargas[iterador] = [];	
					
					// descargamos el icono del layer
					if(item.icono != ""){
						var urlDestino = urlSd + recorrido_id +"/"+item.icono;
						recorrido_id_encriptado = encrypt(String(recorrido_id), String(clave_encriptacion));
						list_descargas[iterador][0] = urlLayerIconos+item.icono;
						list_descargas[iterador][1] = urlDestino;
						list_descargas[iterador][2] = "icono de "+item.titulo;
						list_descargas[iterador][3] = false;	// buscar multimedia?
						list_descargas[iterador][4] = false;	// es un punto?	
						list_descargas[iterador][5] = recorrido_id;
						list_descargas[iterador][6] = grouplayer_id;											
						++iterador;				
						list_descargas[iterador] = [];	
					}
					
					// descargamos el icono del map layer
					if(item.icono_mapa != ""){
						var urlDestino = urlSd + recorrido_id +"/icono_mapa.png";
						recorrido_id_encriptado = encrypt(String(recorrido_id), String(clave_encriptacion));
						list_descargas[iterador][0] = urlLayerIconos+item.icono_mapa;
						list_descargas[iterador][1] = urlDestino;
						list_descargas[iterador][2] = "icono del mapa de "+item.titulo;
						list_descargas[iterador][3] = false;	// buscar multimedia?
						list_descargas[iterador][4] = false;	// es un punto?						
						list_descargas[iterador][5] = recorrido_id;
						list_descargas[iterador][6] = grouplayer_id;						
 						++iterador;				
						list_descargas[iterador] = [];
					}
				});
			}
			cantidad_descargas = iterador;
			iterador = -1;
			descargar(proximoMetodo);
		});
	}
	
	function descargar_agenda(){
		/* Descargamos la agenda y lo guardamos en la sd 
		var fileTransfer = new FileTransfer();
		var pFecha = get_hoy_ing();
		//if (localStorage.getItem("act_agenda") === null) {
			pFecha = "1900-01-01";
		//}
		fileTransfer.download(urlHost+urlGetAgenda+pFecha, urlSd + agenda_parametros.nombre_json, 
		function(entry) {		
			$("#estado_descarga").html("Descargando agenda...");
			ac_copiar_json_a_bd(ac_vacio);*/
			descargar_pois();/*
		}, 
		function(err) {
			console.log("Error");
			$("#estado_descarga").html("Error en descarga de agenda...");
		});*/				
	}
	
	function descargar_pois(){
		/* Descargamos la agenda y lo guardamos en la sd */
		var fileTransfer = new FileTransfer();	
		var id_encriptado = encrypt(String(pois_parametros.grouplayer_id), String(clave_encriptacion));
		fileTransfer.download(urlHost+urlGetGroupLayer+id_encriptado, urlSd + pois_parametros.nombre_json, 
		function(entry) {		
			$("#estado_descarga").html("Descargando puntos de interes...");
			//pc_copar_json_a_bd();
			descargar_puntos(urlSd + pois_parametros.nombre_json, iniciarApp, pois_parametros.grouplayer_id)
			//iniciarApp();
		}, 
		function(err) {
			console.log("Error");
			$("#estado_descarga").html("Error en descarga de puntos de interes...");
		});			
	}
	
	function buscar_multimedias(posicion){
		//++cantidad_descargas;		
		$.getJSON(list_descargas[posicion][1], function( data ) {			
			$.each( data, function( key, itemaux ) {	
				if(key == "features"){
					$.each( itemaux, function( subkey, subitem ) {
						$.each( subitem.properties.multimedias, function( subkey, multitem ) {						
							//console.log("hola hdp!");
							//var regMulti = [];	
							mc_grabar_multimedias(list_descargas[posicion][1]);							
							var punto_id = multitem.entidad_id; 
							var recorrido_id = multitem.layer_id; 	
							var nombre_multimedia = multitem.codigo; 
							/*regMulti['id'] = multitem.id;
							regMulti['entidad_id'] = punto_id;
							regMulti['layer_id'] = recorrido_id;
							regMulti['grouplayer_id'] = list_descargas[posicion][6];																												
							regMulti['codigo'] = nombre_multimedia;
							regMulti['titulo'] = multitem.titulo;
							regMulti['orden'] = multitem.orden;	
							regMulti['tipo'] = multitem.tipo;
							regMulti['url_online'] = multitem.url;
							mc_add_multimedia(regMulti);	*/// grabo en base de datos
											
							if(multitem.tipo != 4){ // verifico si tengo q descargar						
								var permitir_descarga = true;
								if((multitem.tipo == 0) && (permitir_descargar_imagenes == false)){
									permitir_descarga = false;
								}
								if((multitem.tipo == 2) && (permitir_descargar_videos == false)){
									permitir_descarga = false;
								}
								if((multitem.tipo == 1) && (permitir_descargar_audios == false)){
									permitir_descarga = false;
								}
								if(permitir_descarga){							
									
									var url_origen =  multitem.url+"/"+nombre_multimedia; 											
									var urlDestino = urlSd + recorrido_id +"/"+punto_id+"/"+nombre_multimedia;	
									list_descargas[cantidad_descargas] = new Array();
									list_descargas[cantidad_descargas][0] = url_origen;
									list_descargas[cantidad_descargas][1] = urlDestino;
									list_descargas[cantidad_descargas][2] = "multimedias del punto: "+multitem.titulo;					
									list_descargas[cantidad_descargas][3] = false;	// buscar multimedia?
									list_descargas[cantidad_descargas][4] = false;
									list_descargas[cantidad_descargas][5] = recorrido_id;	// es un punto?
									list_descargas[cantidad_descargas][6] = 0;
									++cantidad_descargas;	
								}
							}
						});
					});
				}
			});
		});	
	}
	
	function descargar(metodoSiguiente){
		++iterador;
		if(iterador < cantidad_descargas){
			$("#estado_descarga").html("Descargando "+list_descargas[iterador][2]);
			var fileTransfer = new FileTransfer();		
			var loadingStatus = 0;
			fileTransfer.onprogress = function(progressEvent) {
				if (progressEvent.lengthComputable) {
					var perc = Math.floor(progressEvent.loaded / progressEvent.total * 100);
					$("#descargando_barra").width( Math.ceil(perc) + "%" );
					//$("#descargando_barra_porc").html(String(Math.ceil(perc)) + "%");
					
					//statusDom.innerHTML = perc + "% loaded...";
					//loadingStatus.setPercentage(progressEvent.loaded / progressEvent.total);
					loadingStatus = progressEvent.loaded / progressEvent.total;
				} else {
					//loadingStatus.increment();
					loadingStatus++;
				}
			};

			fileTransfer.download(list_descargas[iterador][0], list_descargas[iterador][1], 
			function(entry) {		
				if(list_descargas[iterador][3] == true){
					buscar_multimedias(iterador);
				}
				if(list_descargas[iterador][4] == true){
					guardar_punto_bd(iterador);
				}
				descargar(metodoSiguiente);
			}, 
			function(err) {
				res = false;
				console.log("Error");
				$("#estado_descarga").html("Error en descarga...");
			},
			false,
			{
				headers: {
					"Authorization": "Basic dGVzdHVzZXJuYW1lOnRlc3RwYXNzd29yZA=="
				}
			});	
		}else{
			list_descargas = [[]];
			iterador = 0;
			metodoSiguiente();		
		}
	}
	
	function guardar_punto_bd(posicion){
		// recorro los campos y creo array para salvar en bd
		$.getJSON(list_descargas[posicion][1], function( data ) {			
			$.each( data, function( key, itemaux ) {	
				if(key == "features"){
					$.each( itemaux, function( subkey, subitem ) {
						var punto_aux = [];		
						punto_aux["layer_id"] = list_descargas[posicion][5];
						punto_aux["grouplayer_id"] = list_descargas[posicion][6];
						punto_aux["entidad_id"] = subitem.properties.id;
						$.each( subitem.properties.campos, function( subkey, multitem ) {
							
							if(multitem.nombre == "nombre"){
								punto_aux["nombre"] = multitem.esp;
							}else if(multitem.nombre == "calle"){
								punto_aux["calle"] = multitem.esp;	
							}else if(multitem.nombre == "altura"){
								punto_aux["altura"] = multitem.esp;	
							}else if(multitem.nombre == "telefono"){
								punto_aux["telefono"] = multitem.esp;	
							}else if(multitem.nombre == "telefonodos"){
								punto_aux["telefonodos"] = multitem.esp;	
							}else if(multitem.nombre == "web"){
								punto_aux["web"] = multitem.esp;	
							}else if(multitem.nombre == "email"){
								punto_aux["email"] = multitem.esp;	
							}else if(multitem.nombre == "descripcion"){
								punto_aux["descripcion"] = multitem.esp;	
							}else if(multitem.nombre == "subtitulo"){
								punto_aux["subtitulo"] = multitem.esp;	
							}					
						});	
						punto_aux["wkt"] = subitem.properties.wkt;	
						pc_add_punto(punto_aux);			
					});
				}
			});
		});	
	}

	function descargar_audios(){		
		if(permitir_descargar_audios == false){
			permitir_descargar_audios = true;
		}else{
			permitir_descargar_audios = false;			
		}
	}
	
	function descargar_imagenes(){				
		if(permitir_descargar_imagenes == false){
			permitir_descargar_imagenes = true;
		}else{
			permitir_descargar_imagenes = false;			
		}
	}
	
	function descargar_videos(){		
		if(permitir_descargar_videos == false){
			permitir_descargar_videos = true;
		}else{
			permitir_descargar_videos = false;			
		}
	}		
</script>