.cssload-wraper{
	width:0px;
	display:block;
	margin: 50px auto;
}
	
.cssload-dots {
	font-family: sans-serif;
	font-weight: 100;
}

.cssload-dots:not(:required) {
	overflow: hidden;
	position: relative;
	text-indent: -12499px;
	display: inline-block;
	width: 9px;
	height: 9px;
	background: transparent;
	border-radius: 100%;
	box-shadow: rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
		-o-box-shadow: rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
		-ms-box-shadow: rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
		-webkit-box-shadow: rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
		-moz-box-shadow: rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgba(100,157,60,0.97) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	animation: cssload-dots 5.75s infinite ease-in-out;
		-o-animation: cssload-dots 5.75s infinite ease-in-out;
		-ms-animation: cssload-dots 5.75s infinite ease-in-out;
		-webkit-animation: cssload-dots 5.75s infinite ease-in-out;
		-moz-animation: cssload-dots 5.75s infinite ease-in-out;
	transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
}



@keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px 18px 0 9px, rgb(214,172,6) 18px 18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px -18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}
}

@-o-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px 18px 0 9px, rgb(214,172,6) 18px 18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px -18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}
}

@-ms-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px 18px 0 9px, rgb(214,172,6) 18px 18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px -18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}
}

@-webkit-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px 18px 0 9px, rgb(214,172,6) 18px 18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px -18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}
}

@-moz-keyframes cssload-dots {
	0% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) -18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	8.33% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px -18px 0 9px, rgb(214,172,6) 18px -18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	16.67% {
		box-shadow: white 0 0 19px 0, rgb(155,57,126) 18px 18px 0 9px, rgb(214,172,6) 18px 18px 0 9px, rgb(100,157,60) 18px 18px 0 9px, rgb(46,100,145) -18px 18px 0 9px;
	}

	25% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	33.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 -18px -18px 0 9px;
	}

	41.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	50% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	58.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 -18px 18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	66.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 -18px -18px 0 9px, #639f3d -18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	75% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px -18px 0 9px, #2d6391 18px -18px 0 9px;
	}

	83.33% {
		box-shadow: white 0 0 19px 0, #9d3b7d 18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 18px 18px 0 9px;
	}

	91.67% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px 18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}

	100% {
		box-shadow: white 0 0 19px 0, #9d3b7d -18px -18px 0 9px, #d6ac06 18px -18px 0 9px, #639f3d 18px 18px 0 9px, #2d6391 -18px 18px 0 9px;
	}
}